# log:
#   accessfile: /logs/access.log
#   errorfile: /logs/error.log
#   logfile: /logs/appdaemon.log
#   log_generations: 3
#   log_size: 1000000
appdaemon:
  latitude: !secret lat
  longitude: !secret lng
  elevation: 92
  time_zone: America/Los_Angeles
  production_mode: true
  plugins:
    HASS:
      type: hass
      ha_url: "http://192.168.1.25:8123"
      token: !secret appdaemon_token

http:
  url: http://192.168.1.20:5050
