/* global TILE, ICON */

window.CONFIG = {
  url: "http://hass:8123",
  accessToken: "{{ panelkit_hass_token }}",
  sentryDsn: "https://42f4d8d4e0d24b5782c90b907454dd01@o172566.ingest.sentry.io/5242607",
  events: [
    {
      entityId: "binary_sensor.doorbell_doorbell",
      state: "on",
      modal: {
        type: MODAL.DOOR_CONTROL,
        camera: "camera.doorbell",
        title: "Doorbell",
      },
    },
  ],
  tiles: [
    {
      width: 2,
      tiles: [
        {
          type: TILE.DOOR_CONTROL,
          camera: "camera.front_door_exterior",
          title: "Front Door",
        },
        {
          type: TILE.ALARM,
          entityId: "alarm_control_panel.home",
        },
        {
          type: TILE.SWITCH,
          entityId: "switch.pi_hole",
          icon: "pi-hole",
        },
      ],
    },
    {
      width: 2,
      tiles: [
        {
          width: 2,
          type: TILE.SCENE,
          entityId: "scene.lights_out",
          title: "Turn Off Lights",
          icon: "lightbulb-group-off",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.master_bedroom_lights",
          title: "Master Bd",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.guest_bedroom_lights",
          title: "Guest Bd",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.hallway_lights",
          title: "Hallway",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.office_lights",
          title: "Office",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.dining_room_lights",
          title: "Dining",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.kitchen_lights",
          title: "Kitchen",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.entrance_lights",
          title: "Entryway",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.media_room_lights",
          title: "Media Room",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.front_door_lights",
          title: "Front Door",
        },
        {
          height: 0.5,
          type: TILE.LIGHT,
          entityId: "group.garage_lights",
          title: "Garage",
        },
      ],
    },
    {
      width: 4,
      tiles: [
        {
          width: 4,
          type: TILE.CAMERA,
          entityId: "camera.doorbell",
        },
        {
          width: 4,
          type: TILE.CAMERA,
          entityId: "camera.front_door_exterior",
        },
        {
          width: 4,
          type: TILE.CAMERA,
          entityId: "camera.garage_exterior",
        },
        {
          width: 4,
          type: TILE.CAMERA,
          entityId: "camera.garage",
        },
        {
          width: 4,
          type: TILE.CAMERA,
          entityId: "camera.media_room",
        },
      ],
    },
  ],
};
