---
lat: {{ home_lat }}
lng: {{ home_lng }}

skparents_lat: {{ skparents_lat }}
skparents_lng: {{ skparents_lng }}

recorder_db_url: mysql://root:{{ mariadb_root_password }}@192.168.1.25:{{ mariadb_port }}/hass?charset=utf8

darksky_key: {{ darksky_key }}

plex_host: {{ plex_host }}
plex_webui_port: {{ plex_webui_port }}
plex_token: {{ plex_token }}

ecobee_key: {{ ecobee_key }}

simplisafe_username: {{ simplisafe_username }}
simplisafe_password: {{ simplisafe_password }}
simplisafe_code: {{ simplisafe_code }}

myq_username: {{ myq_username }}
myq_password: {{ myq_password }}

influxdb_port: {{ influxdb_port }}

nas_host: 192.168.1.43
nas_username: {{ nas_username }}
nas_password: {{ nas_password }}

unifi_host: unifi
unifi_username: {{ unifi_username }}
unifi_password: {{ unifi_password }}

google_project_id: {{ google_project_id }}
google_api_key: {{ google_api_key }}

tile_username: {{ tile_username }}
tile_password: {{ tile_password }}

sonarr_key: {{ sonarr_key }}
sonarr_host: 192.168.1.25
sonarr_port: {{ sonarr_webui_port }}

radarr_key: {{ radarr_key }}
radarr_host: 192.168.1.25
radarr_port: {{ radarr_webui_port }}

mopar_username: {{ mopar_username }}
mopar_password: {{ mopar_password }}
mopar_pin: {{ mopar_pin }}

dyson_username: {{ dyson_username }}
dyson_password: {{ dyson_password }}
dyson_fan_id: PE7-US-HFA1735A
dyson_fan_host: 192.168.1.49

hacs_github_token: {{ hacs_github_token }}

recology_api_url: {{ recology_api_url }}

telegram_token: {{ telegram_token }}
telegram_chat_id_david: 958786881
telegram_chat_id_sukhpreet: 939531625
telegram_group_id_home: -313131514

appdaemon_token: {{ appdaemon_token }}"

homekit_port: {{ homekit_port }}

spotify_client_id: {{ spotify_client_id }}
spotify_client_secret: {{ spotify_client_secret }}

unraid_password: {{ unraid_password }}

sentry_dsn: {{ sentry_dsn }}

lutron_host: 192.168.1.56
lutron_username: {{ lutron_username }}
lutron_password: {{ lutron_password }}

pi_hole_host: 192.168.1.86
pi_hole_api_key: {{ pi_hole_api_key }}

hue_host: 192.168.1.120

mqtt_host: {{ mqtt_host }}
mqtt_port: {{ mqtt_port }}

camera_garage_stream: {{ cameras['garage']['stream'] }}
camera_garage_still: "https://{{ cameras['garage']['host'] }}/snap.jpeg"

camera_front_door_exterior_stream: {{ cameras['front_door_exterior']['stream'] }}
camera_front_door_exterior_still: "https://{{ cameras['front_door_exterior']['host'] }}/snap.jpeg"

camera_garage_exterior_stream: {{ cameras['garage_exterior']['stream'] }}
camera_garage_exterior_still: "https://{{ cameras['garage_exterior']['host'] }}/snap.jpeg"

camera_media_room_stream: {{ cameras['media_room']['stream'] }}
camera_media_room_still: "https://{{ cameras['media_room']['host'] }}/snap.jpeg"

camera_doorbell_stream: {{ cameras['doorbell']['stream'] }}
camera_doorbell_still: "https://{{ cameras['doorbell']['host'] }}/snap.jpeg"
