function getCameraItems(width) {
  var cameras = [
    ["camera.front_door_exterior", "Font Door"],
    ["camera.garage_exterior", "Garage Exterior"],
    ["camera.garage", "Garage"],
    ["camera.backyard", "Backyard"],
  ];
  var items = [];
  for (var i = 0; i < cameras.length; i++) {
    items.push({
      position: [0, i],
      width: width,
      height: 1,
      type: TYPES.CAMERA_THUMBNAIL,
      refresh: 3000,
      title: cameras[i][1],
      id: cameras[i][0],
      bgSize: "cover",
      fullscreen: {
        type: TYPES.CAMERA_STREAM,
        objFit: "contain",
      },
    });
  }
  return items;
}

function getLightItems(width) {
  var items = [
    {
      position: [0, 0],
      width: width,
      title: "Turn Off Lights",
      id: "scene.lights_off",
      // TODO: switch to 'group' icon when mdi is updated
      icon: "mdi-lightbulb-off",
      type: TYPES.SCENE,
      state: false,
    },
  ];
  var lights = [
    ["light.master_bedroom_lights", "Master Bedroom"],
    ["light.guest_bedroom_lights", "Guest Bedroom"],
    ["light.hallway_lights", "Hallway"],
    ["light.office_lights", "Office"],
    ["light.dining_room_lights", "Dining Room"],
    ["light.kitchen_lights", "Kitchen"],
    ["light.entryway_lights", "Entryway"],
    ["light.front_door_lights", "Front Door"],
  ];
  for (var i = 0; i < lights.length; i++) {
    items.push({
      position: [i % width, 1 + Math.floor(i / width)],
      width: 1,
      height: 1,
      title: lights[i][1],
      id: lights[i][0],
      type: TYPES.LIGHT,
      states: {
        on: "On",
        off: "Off",
      },
      icons: {
        on: "mdi-lightbulb-on",
        off: "mdi-lightbulb",
      },
      sliders: [
        {
          title: "Brightness",
          field: "brightness",
          max: BRIGHTNESS_MAX,
          min: 0,
          step: BRIGHTNESS_STEP,
          request: {
            type: "call_service",
            domain: "light",
            service: "turn_on",
            field: "brightness",
          },
        },
      ],
    });
  }
  return items;
}

function getTileSize(groupWidth, tileMargin, groupMargin) {
  var width = window.innerWidth;
  width -= groupMargin * 2 + tileMargin * (groupWidth - 1);
  return +(width / groupWidth).toFixed(1);
}

var suffix = location.protocol === "file:" ? "" : "?r=" + Math.random();
["theme.css"].map(function (value) {
  document.write(
    "<li" + 'nk rel="stylesheet" href="custom/' + value + suffix + '"/>'
  );
});

// optimize for 4:3
var gridWidth = 8;
var gridHeight = 6;

var groupWidth = gridWidth; // count of tiles horizontally
var tileMargin = gridWidth / 2; // px
var groupMargin = 60; // px

// 150 is default
var tileSize = getTileSize(groupWidth, tileMargin, groupMargin);

// Lutron lights
var BRIGHTNESS_STEP = 25.5;
var BRIGHTNESS_MAX = 255;

var customThemes = [CUSTOM_THEMES.TRANSPARENT];
var entitySize;
if (/[?&]mobile/.test(location.search)) {
  entitySize = ENTITY_SIZES.SMALL;
  customThemes.push(CUSTOM_THEMES.MOBILE);
} else {
  entitySize = ENTITY_SIZES.NORMAL;
}

var CONFIG = {
  customTheme: customThemes,
  transition: TRANSITIONS.ANIMATED_GPU,
  entitySize: entitySize,
  tileSize: tileSize,
  tileMargin: 4,
  // groupMarginCss: tileMargin / 2 + "px",
  serverUrl: "http://" + location.hostname + ":8123",
  wsUrl: "ws://" + location.hostname + ":8123/api/websocket",
  authToken: "{{ tileboard_hass_token }}",
  googleApiKey: "{{ google_api_key }}",
  debug: false, // Prints entities and state change info to the console.
  pingConnection: true, //ping connection to prevent silent disconnections

  // next fields are optional
  events: [],
  timeFormat: 24,
  menuPosition: MENU_POSITIONS.LEFT, // or BOTTOM
  hideScrollbar: false, // horizontal scrollbar
  groupsAlign: GROUP_ALIGNS.HORIZONTALLY, // or VERTICALLY
  onReady: function () {},

  /*screensaver: {// optional. https://github.com/resoai/TileBoard/wiki/Screensaver-configuration
      timeout: 300, // after 5 mins of inactive
      slidesTimeout: 10, // 10s for one slide
      styles: { fontSize: '40px' },
      leftBottom: [{ type: SCREENSAVER_ITEMS.DATETIME }], // put datetime to the left-bottom of screensaver
      slides: [
         { bg: 'images/bg1.jpeg' },
         {
            bg: 'images/bg2.png',
            rightTop: [ // put text to the 2nd slide
               {
                  type: SCREENSAVER_ITEMS.CUSTOM_HTML,
                  html: 'Welcome to the <b>TileBoard</b>',
                  styles: { fontSize: '40px' }
               }
            ]
         },
         { bg: 'images/bg3.jpg' }
      ]
   },*/

  pages: [
    {
      title: "Main page",
      bg: "images/bg1.jpeg",
      icon: "mdi-home-outline", // home icon
      groups: [
        {
          title: "",
          width: 2,
          height: gridHeight,
          items: [
            {
              position: [0, 0],
              height: 1,
              width: 2,
              classes: ["-compact"],
              hideSource: true,
              type: TYPES.WEATHER,
              id: "weather.san_francisco_ca",
              state: "@state",
              icon: "@state",
              icons: {
                cloudy: "cloudy",
                rain: "rain",
                sunny: "sunny",
                sleet: "sleet",
                snow: "snow",
                wind: "hazy",
                fog: "fog",
                partlycloudy: "partlycloudy",
              },
              fields: {
                temperature: "@attributes.temperature",
                temperatureUnit: "F",
                windSpeed: "@attributes.wind_speed",
                windSpeedUnit: " mph",
              },
            },
            // {
            //   position: [0, 1],
            //   type: TYPES.DEVICE_TRACKER,
            //   id: "person.david",
            //   map: "yandex",
            //   states: {
            //     home: "Home",
            //     not_home: "Away",
            //     sentry_sfo: "Work",
            //   },
            //   zoomLevels: [9, 13], // or [9] for only one map slide
            //   hideEntityPicture: true, //hide entity pic, if you need only map
            //   slidesDelay: 2, // delay before first slide animation
            // },
            // {
            //   position: [1, 1],
            //   type: TYPES.DEVICE_TRACKER,
            //   id: "person.sukhpreet",
            //   map: "yandex",
            //   states: {
            //     home: "Home",
            //     not_home: "Away",
            //   },
            //   zoomLevels: [9, 13], // or [9] for only one map slide
            //   hideEntityPicture: true, //hide entity pic, if you need only map
            //   slidesDelay: 2, // delay before first slide animation
            // },
            {
              position: [0, 1],
              type: TYPES.DOOR_ENTRY,
              id: {},
              icon: "mdi-door",
              title: "Front Door",
              state: false,
              layout: {
                camera: {
                  type: TYPES.CAMERA,
                  id: "camera.front_door_exterior",
                  refresh: 1500,
                  bgSize: "cover",
                },
                page: {},
                tiles: [
                  // {
                  //   position: [0, 0],
                  //   theme: ITEM_TRANSPARENT,
                  //   type: TYPES.SWITCH,
                  //   id: "switch.intercom",
                  //   icons: {
                  //     on: "mdi-phone-in-talk",
                  //     off: "mdi-phone",
                  //   },
                  //   states: {
                  //     on: "Active",
                  //     off: "Idle",
                  //   },
                  // },
                  // {
                  //   position: [0, 1],
                  //   theme: ITEM_TRANSPARENT,
                  //   type: TYPES.SCRIPT,
                  //   id: "script.front_gate_open",
                  //   icons: {
                  //     on: "mdi-gate",
                  //     off: "mdi-gate",
                  //   },
                  //   state: false,
                  // },
                  {
                    position: [0, 2],
                    theme: ITEM_TRANSPARENT,
                    id: "light.garage_entry_can",
                    type: TYPES.SWITCH,
                    title: "Lights",
                    states: {
                      on: "On",
                      off: "Off",
                    },
                    icons: {
                      on: "mdi-lightbulb-on",
                      off: "mdi-lightbulb",
                    },
                  },
                ],
              },
            },
            {
              position: [1, 1],
              type: TYPES.ALARM,
              title: "Alarm",
              id: "alarm_control_panel.home",
              icons: {
                disarmed: "mdi-bell-off",
                pending: "mdi-bell",
                armed_home: "mdi-bell-plus",
                armed_away: "mdi-bell",
                triggered: "mdi-bell-ring",
              },
              states: {
                disarmed: "Disarmed",
                pending: "Pending",
                armed_home: "Armed home",
                armed_away: "Armed away",
                triggered: "Triggered",
              },
            },
            {
              position: [0, 4],
              type: TYPES.SWITCH,
              id: "switch.pi_hole",
              classes: ["-th-pi-hole"],
              title: "Pi Hole",
              states: {
                on: "Active",
                off: "Disabled for 60s",
              },
              icons: {
                on: "mdi-pi-hole",
                off: "mdi-pi-hole",
              },
            },
          ],
        },
        {
          title: "",
          width: 2,
          height: gridHeight,
          items: getLightItems(2),
        },
        {
          title: "",
          width: 4,
          height: gridHeight,
          items: getCameraItems(4),
        },
      ],
    },
  ],
};
