var BRIGHTNESS_STEP = 25.5;
var BRIGHTNESS_MAX = 255;

var CONFIG = {
  customTheme: CUSTOM_THEMES.TRANSPARENT, // CUSTOM_THEMES.TRANSPARENT, CUSTOM_THEMES.MATERIAL, CUSTOM_THEMES.MOBILE, CUSTOM_THEMES.COMPACT, CUSTOM_THEMES.HOMEKIT, CUSTOM_THEMES.WINPHONE, CUSTOM_THEMES.WIN95
  transition: TRANSITIONS.ANIMATED_GPU, //ANIMATED or SIMPLE (better perfomance)
  entitySize: ENTITY_SIZES.NORMAL, //SMALL, BIG are available
  tileSize: 130, // 150 is default
  tileMargin: 4,
  groupMarginCss: "0",
  serverUrl: "http://" + location.hostname + ":8123",
  wsUrl: "ws://" + location.hostname + ":8123/api/websocket",
  authToken: "{{ tileboard_hass_token }}",
  googleApiKey: "{{ google_api_key }}",
  debug: false, // Prints entities and state change info to the console.
  pingConnection: true, //ping connection to prevent silent disconnections

  // next fields are optional
  events: [],
  timeFormat: 24,
  menuPosition: MENU_POSITIONS.LEFT, // or BOTTOM
  hideScrollbar: false, // horizontal scrollbar
  groupsAlign: GROUP_ALIGNS.HORIZONTALLY, // or VERTICALLY
  onReady: function () {},
  header: {
    // https://github.com/resoai/TileBoard/wiki/Header-configuration
    styles: {
      padding: "20px 140px 0",
      // fontSize: "28px",
    },
    right: [
      {
        type: HEADER_ITEMS.WEATHER,
        icon: "&weather.home.state",
        icons: {
          sunny: "sunny",
          "clear-night": "nt-clear",
          cloudy: "cloudy",
          rain: "rain",
          sleet: "sleet",
          snow: "snow",
          wind: "hazy",
          fog: "fog",
          partlycloudy: "partlycloudy",
        },
        fields: {
          // summary: "&sensor.dark_sky_summary.state",
          temperature: "&weather.home.attributes.temperature",
          temperatureUnit: "F",
          // windSpeed: "&weather.home.attributes.wind_speed",
        },
      },
    ],
    left: [
      {
        type: HEADER_ITEMS.DATETIME,
        dateFormat: "EEEE, LLLL dd", //https://docs.angularjs.org/api/ng/filter/date
        styles: {
          margin: "0",
        },
      },
    ],
  },

  /*screensaver: {// optional. https://github.com/resoai/TileBoard/wiki/Screensaver-configuration
      timeout: 300, // after 5 mins of inactive
      slidesTimeout: 10, // 10s for one slide
      styles: { fontSize: '40px' },
      leftBottom: [{ type: SCREENSAVER_ITEMS.DATETIME }], // put datetime to the left-bottom of screensaver
      slides: [
         { bg: 'images/bg1.jpeg' },
         {
            bg: 'images/bg2.png',
            rightTop: [ // put text to the 2nd slide
               {
                  type: SCREENSAVER_ITEMS.CUSTOM_HTML,
                  html: 'Welcome to the <b>TileBoard</b>',
                  styles: { fontSize: '40px' }
               }
            ]
         },
         { bg: 'images/bg3.jpg' }
      ]
   },*/

  pages: [
    {
      title: "Main page",
      bg: "images/bg1.jpeg",
      icon: "mdi-home-outline", // home icon
      groups: [
        {
          title: "",
          width: 3,
          height: 4,
          items: [
            {
              position: [0, 0],
              type: TYPES.DOOR_ENTRY,
              id: {},
              icon: "mdi-doorbell-video",
              title: "Front Door",
              state: false,
              layout: {
                camera: {
                  type: TYPES.CAMERA,
                  id: "camera.front_door_exterior",
                  refresh: 1500,
                  bgSize: "cover",
                },
                page: {},
                tiles: [
                  // {
                  //   position: [0, 0],
                  //   theme: ITEM_TRANSPARENT,
                  //   type: TYPES.SWITCH,
                  //   id: "switch.intercom",
                  //   icons: {
                  //     on: "mdi-phone-in-talk",
                  //     off: "mdi-phone",
                  //   },
                  //   states: {
                  //     on: "Active",
                  //     off: "Idle",
                  //   },
                  // },
                  // {
                  //   position: [0, 1],
                  //   theme: ITEM_TRANSPARENT,
                  //   type: TYPES.SCRIPT,
                  //   id: "script.front_gate_open",
                  //   icons: {
                  //     on: "mdi-gate",
                  //     off: "mdi-gate",
                  //   },
                  //   state: false,
                  // },
                  {
                    position: [0, 2],
                    theme: ITEM_TRANSPARENT,
                    id: "light.garage_entry_can",
                    type: TYPES.SWITCH,
                    title: "Lights",
                    states: {
                      on: "On",
                      off: "Off",
                    },
                    icons: {
                      on: "mdi-lightbulb-on",
                      off: "mdi-lightbulb",
                    },
                  },
                ],
              },
            },
            {
              position: [1, 0],
              type: TYPES.ALARM,
              title: "Alarm",
              id: "alarm_control_panel.home",
              icons: {
                disarmed: "mdi-bell-off",
                pending: "mdi-bell",
                armed_home: "mdi-bell-plus",
                armed_away: "mdi-bell",
                triggered: "mdi-bell-ring",
              },
              states: {
                disarmed: "Disarmed",
                pending: "Pending",
                armed_home: "Armed home",
                armed_away: "Armed away",
                triggered: "Triggered",
              },
            },
            {
              position: [0, 1],
              title: "Turn Off Lights",
              id: "scene.lights_off",
              icon: "mdi-lightbulb",
              type: TYPES.SCENE,
              state: false,
            },
            {
              position: [0, 3],
              type: TYPES.SWITCH,
              id: "switch.pi_hole",
              title: "Pi Hole",
              states: {
                on: "Active",
                off: "Disabled for 60s",
              },
              icons: {
                on: "mdi-pi-hole",
                off: "mdi-pi-hole",
              },
            },
          ],
        },
        {
          title: "",
          width: 3,
          height: 4,
          items: [
            {
              position: [0, 0],
              title: "Master Bedroom",
              id: "light.master_bedroom_lights",
              type: TYPES.LIGHT,
              states: {
                on: "On",
                off: "Off",
              },
              icons: {
                on: "mdi-lightbulb-on",
                off: "mdi-lightbulb",
              },
              sliders: [
                {
                  title: "Brightness",
                  field: "brightness",
                  max: BRIGHTNESS_MAX,
                  min: 0,
                  step: BRIGHTNESS_STEP,
                  request: {
                    type: "call_service",
                    domain: "light",
                    service: "turn_on",
                    field: "brightness",
                  },
                },
              ],
            },
            {
              position: [1, 0],
              title: "Guest Bedroom",
              id: "light.guest_bedroom_lights",
              type: TYPES.LIGHT,
              states: {
                on: "On",
                off: "Off",
              },
              icons: {
                on: "mdi-lightbulb-on",
                off: "mdi-lightbulb",
              },
              sliders: [
                {
                  title: "Brightness",
                  field: "brightness",
                  max: BRIGHTNESS_MAX,
                  min: 0,
                  step: BRIGHTNESS_STEP,
                  request: {
                    type: "call_service",
                    domain: "light",
                    service: "turn_on",
                    field: "brightness",
                  },
                },
              ],
            },
            {
              position: [0, 1],
              title: "Hallway",
              id: "light.hallway_lights",
              type: TYPES.LIGHT,
              states: {
                on: "On",
                off: "Off",
              },
              icons: {
                on: "mdi-lightbulb-on",
                off: "mdi-lightbulb",
              },
              sliders: [
                {
                  title: "Brightness",
                  field: "brightness",
                  max: BRIGHTNESS_MAX,
                  min: 0,
                  step: BRIGHTNESS_STEP,
                  request: {
                    type: "call_service",
                    domain: "light",
                    service: "turn_on",
                    field: "brightness",
                  },
                },
              ],
            },
            {
              position: [1, 1],
              title: "Office",
              id: "light.office_lights",
              type: TYPES.LIGHT,
              states: {
                on: "On",
                off: "Off",
              },
              icons: {
                on: "mdi-lightbulb-on",
                off: "mdi-lightbulb",
              },
              sliders: [
                {
                  title: "Brightness",
                  field: "brightness",
                  max: BRIGHTNESS_MAX,
                  min: 0,
                  step: BRIGHTNESS_STEP,
                  request: {
                    type: "call_service",
                    domain: "light",
                    service: "turn_on",
                    field: "brightness",
                  },
                },
              ],
            },
            {
              position: [0, 2],
              title: "Kitchen",
              id: "light.kitchen_lights",
              type: TYPES.LIGHT,
              states: {
                on: "On",
                off: "Off",
              },
              icons: {
                on: "mdi-lightbulb-on",
                off: "mdi-lightbulb",
              },
              sliders: [
                {
                  title: "Brightness",
                  field: "brightness",
                  max: BRIGHTNESS_MAX,
                  min: 0,
                  step: BRIGHTNESS_STEP,
                  request: {
                    type: "call_service",
                    domain: "light",
                    service: "turn_on",
                    field: "brightness",
                  },
                },
              ],
            },
            {
              position: [1, 2],
              title: "Dining Room",
              id: "light.dining_room_lights",
              type: TYPES.LIGHT,
              states: {
                on: "On",
                off: "Off",
              },
              icons: {
                on: "mdi-lightbulb-on",
                off: "mdi-lightbulb",
              },
              sliders: [
                {
                  title: "Brightness",
                  field: "brightness",
                  max: BRIGHTNESS_MAX,
                  min: 0,
                  step: BRIGHTNESS_STEP,
                  request: {
                    type: "call_service",
                    domain: "light",
                    service: "turn_on",
                    field: "brightness",
                  },
                },
              ],
            },
            {
              position: [0, 3],
              title: "Entryway",
              id: "light.entryway_lights",
              type: TYPES.LIGHT,
              states: {
                on: "On",
                off: "Off",
              },
              icons: {
                on: "mdi-lightbulb-on",
                off: "mdi-lightbulb",
              },
              sliders: [
                {
                  title: "Brightness",
                  field: "brightness",
                  max: BRIGHTNESS_MAX,
                  min: 0,
                  step: BRIGHTNESS_STEP,
                  request: {
                    type: "call_service",
                    domain: "light",
                    service: "turn_on",
                    field: "brightness",
                  },
                },
              ],
            },
            {
              position: [1, 3],
              title: "Front Door",
              id: "light.front_door_lights",
              type: TYPES.LIGHT,
              states: {
                on: "On",
                off: "Off",
              },
              icons: {
                on: "mdi-lightbulb-on",
                off: "mdi-lightbulb",
              },
              sliders: [
                {
                  title: "Brightness",
                  field: "brightness",
                  max: BRIGHTNESS_MAX,
                  min: 0,
                  step: BRIGHTNESS_STEP,
                  request: {
                    type: "call_service",
                    domain: "light",
                    service: "turn_on",
                    field: "brightness",
                  },
                },
              ],
            },
          ],
        },
        {
          title: "",
          width: 2,
          height: 4,
          items: [
            {
              position: [0, 0],
              width: 2,
              height: 1,
              title: "Front Door",
              type: TYPES.CAMERA,
              id: "camera.front_door_exterior",
              fullscreen: {
                type: TYPES.CAMERA_STREAM,
                objFit: "contain",
                id: "camera.front_door_exterior", // Optional: camera entity to use on fullscreen, defaults to the tile camera entity if omitted
                bufferLength: 5, // Optional: buffer length in seconds for the HLS buffer, default is 5 seconds
              },
            },
            {
              position: [0, 1],
              width: 2,
              height: 1,
              title: "Garage Exterior",
              type: TYPES.CAMERA,
              id: "camera.garage_exterior",
              fullscreen: {
                type: TYPES.CAMERA_STREAM,
                objFit: "contain",
                id: "camera.garage_exterior", // Optional: camera entity to use on fullscreen, defaults to the tile camera entity if omitted
                bufferLength: 5, // Optional: buffer length in seconds for the HLS buffer, default is 5 seconds
              },
            },
            {
              position: [0, 2],
              width: 2,
              height: 1,
              title: "Garage",
              type: TYPES.CAMERA,
              id: "camera.garage",
              fullscreen: {
                type: TYPES.CAMERA_STREAM,
                objFit: "contain",
                id: "camera.garage", // Optional: camera entity to use on fullscreen, defaults to the tile camera entity if omitted
                bufferLength: 5, // Optional: buffer length in seconds for the HLS buffer, default is 5 seconds
              },
            },
            {
              position: [0, 3],
              width: 2,
              height: 1,
              title: "Backyard",
              type: TYPES.CAMERA,
              id: "camera.backyard",
              fullscreen: {
                type: TYPES.CAMERA_STREAM,
                objFit: "contain",
                id: "camera.backyard", // Optional: camera entity to use on fullscreen, defaults to the tile camera entity if omitted
                bufferLength: 5, // Optional: buffer length in seconds for the HLS buffer, default is 5 seconds
              },
            },
          ],
        },
      ],
    },
  ],
};
